In [1]:
import pandas as pd
import seaborn as srn
import statistics as sts

In [2]:
dataset = pd.read_csv("SENSO_DATA_TABLE.csv", sep=",")
dataset.head()

,2010,14,Roraima,1400506,São João da Baliza,RM do Sul do Estado,1402,Sul de Roraima,14004,Sudeste de Roraima,66010,6778,9739
0,2010,14,Roraima,1400605,São Luiz,RM do Sul do Estado,1402,Sul de Roraima,14004,Sudeste de Roraima,59706,6750,8845
1,2010,14,Roraima,1400704,Uiramutã,NaN,1401,Norte de Roraima,14002,Nordeste de Roraima,55010,8147,6752
2,2010,15,Pará,1500107,Abaetetuba,NaN,1504,Nordeste Paraense,15011,Cametá,583793,141054,4139
3,2010,15,Pará,1500131,Abel Figueiredo,NaN,1506,Sudeste Paraense,15017,Paragominas,53599,6792,7891
4,2010,15,Pará,1500206,Acará,NaN,1504,Nordeste Paraense,15012,Tomé-Açu,440767,53605,8223

In [3]:
dataset.shape

(27834, 13)

In [4]:
dataset.columns = ["ano","cod_uf","nome_uf","cod_mun","nome_mun","regiao","cod_meso_reg","nome_meso_reg","cod_mic_reg","nome_min_reg","pib","populacao","pib_per_cap"]

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27834 entries, 0 to 27833
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ano            27834 non-null  int64
 1   cod_uf         27834 non-null  int64
 2   nome_uf        27834 non-null  object
 3   cod_mun        27834 non-null  int64
 4   nome_mun       27834 non-null  object
 5   regiao         6122 non-null   object
 6   cod_meso_reg   27834 non-null  int64
 7   nome_meso_reg  27834 non-null  object
 8   cod_mic_reg    27834 non-null  int64
 9   nome_min_reg   27834 non-null  object
 10  pib            27834 non-null  int64
 11  populacao      27834 non-null  int64
 12  pib_per_cap    27834 non-null  int64
dtypes: int64(8), object(5)
memory usage: 2.8+ MB

In [6]:
dataset.head()

,ano,cod_uf,nome_uf,cod_mun,nome_mun,regiao,cod_meso_reg,nome_meso_reg,cod_mic_reg,nome_min_reg,pib,populacao,pib_per_cap
0,2010,14,Roraima,1400605,São Luiz,RM do Sul do Estado,1402,Sul de Roraima,14004,Sudeste de Roraima,59706,6750,8845
1,2010,14,Roraima,1400704,Uiramutã,NaN,1401,Norte de Roraima,14002,Nordeste de Roraima,55010,8147,6752
2,2010,15,Pará,1500107,Abaetetuba,NaN,1504,Nordeste Paraense,15011,Cametá,583793,141054,4139
3,2010,15,Pará,1500131,Abel Figueiredo,NaN,1506,Sudeste Paraense,15017,Paragominas,53599,6792,7891
4,2010,15,Pará,1500206,Acará,NaN,1504,Nordeste Paraense,15012,Tomé-Açu,440767,53605,8223

In [7]:
dataset.isnull().sum()

ano                  0
cod_uf               0
nome_uf              0
cod_mun              0
nome_mun             0
regiao           21712
cod_meso_reg         0
nome_meso_reg        0
cod_mic_reg          0
nome_min_reg         0
pib                  0
populacao            0
pib_per_cap          0
dtype: int64

In [8]:
mediana = sts.median(dataset['pib_per_cap'])
mediana

11361.0

In [9]:
dataset['ano'].dtype

dtype('int64')

In [10]:
dataset.loc[(dataset['nome_uf'] ==  "Maranhão" )  & ( dataset['ano'] ==  2014) ]

,ano,cod_uf,nome_uf,cod_mun,nome_mun,regiao,cod_meso_reg,nome_meso_reg,cod_mic_reg,nome_min_reg,pib,populacao,pib_per_cap
22417,2014,21,Maranhão,2100055,Açailândia,NaN,2102,Oeste Maranhense,21009,Imperatriz,1841292,108765,16929
22418,2014,21,Maranhão,2100105,Afonso Cunha,NaN,2104,Leste Maranhense,21016,Coelho Neto,36450,6277,5807
22419,2014,21,Maranhão,2100154,Água Doce do Maranhão,NaN,2104,Leste Maranhense,21013,Baixo Parnaíba Maranhense,61082,12146,5029
22420,2014,21,Maranhão,2100204,Alcântara,RM Grande São Luís,2101,Norte Maranhense,21001,Litoral Ocidental Maranhense,102603,21652,4739
22421,2014,21,Maranhão,2100303,Aldeias Altas,NaN,2104,Leste Maranhense,21016,Coelho Neto,232868,25509,9129
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23209,2014,21,Maranhão,2112803,Viana,NaN,2101,Norte Maranhense,21005,Baixada Maranhense,332873,50976,6530
23210,2014,21,Maranhão,2112852,Vila Nova dos Martírios,NaN,2102,Oeste Maranhense,21009,Imperatriz,88755,12661,7010
23211,2014,21,Maranhão,2112902,Vitória do Mearim,NaN,2101,Norte Maranhense,21005,Baixada Maranhense,206770,31923,6477
23212,2014,21,Maranhão,2113009,Vitorino Freire,NaN,2102,Oeste Maranhense,21008,Pindaré,191503,30937,6190
23213,2014,21,Maranhão,2114007,Zé Doca,NaN,2102,Oeste Maranhense,21008,Pindaré,381977,50190,7611

In [11]:
agrupado = dataset.groupby(['nome_uf']).size()
agrupado

nome_uf
Acre                    110
Alagoas                 510
Amapá                    80
Amazonas                310
Bahia                  2085
Ceará                   920
Distrito Federal          5
Espírito Santo          390
Goiás                  1230
Maranhão               1085
Mato Grosso             705
Mato Grosso do Sul      392
Minas Gerais           4265
Paraná                 1995
Paraíba                1115
Pará                    717
Pernambuco              925
Piauí                  1120
Rio Grande do Norte     835
Rio Grande do Sul      2482
Rio de Janeiro          460
Rondônia                260
Roraima                  74
Santa Catarina         1469
Sergipe                 375
São Paulo              3225
Tocantins               695
dtype: int64